/***** BASE STYLES *****/
body {
  font-family: 'Yantramanav', sans-serif;
}

#about, #work, #places, #contact {
  height: 600px;
}


/***** GRID *****/
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** HEADER *****/

header {
  background: url('../img/losangeles.jpeg');
  background-size: cover;
  height: 800px;
}

header h1 {
    color: #e61d9d;
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    padding: 50px 0;
}

header a {
  text-decoration: none;
  color: #e61d9d;
}

header h2 {
    clear: both;
    color: #33334d;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 82px;
    line-height: 1.111;
    width: 1000px;
    padding-bottom: 40px;

}

/***** NAVIGATION *****/
nav {
  float: right;
  padding: 70px 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #33334d;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 30px;

}

/***** ABOUT *****/

#about {
  padding-bottom: 50px;
}
#about .full-width {
    padding: 80px 0;
}

#about h3 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 36px;
}

#about p {
    color: #7f7f7f;
    font-size: 21px;
    line-height: 40px;
    padding-right: 50px;
}

#about-img {
  border: 2px solid black;
  float: right;
}

/***** WORK *****/

#work {
  text-align: left;
  background-color: #f0f0f5;
  height: 650px;
}

#work .full-width {
  padding: 50px 0;
  padding-bottom: 50px;

}



#work h3 {
  text-align: left;
  font-family: 'Yantramanav', sans-serif;
  font-size: 36px;
  font-weight: bolder;

}

#work h4 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 28px;
    margin: 0 auto;
    text-decoration:overline;
    font-weight: lighter;
    padding-bottom: 20px;
    text-align: left;
    color: #33334d;

}


/***** ABOUT *****/

#portfolio {

  background-color: #f0f0f5;
  padding-bottom: 200px;

}

#portfolio .full-width {
    padding-bottom: 200px;

}

#portfolio h3 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 36px;
    padding-top: 10px;
    font-weight: lighter;
}

#portfolio h4 {
    margin: 0 auto;
    font-size: 20px;
}

#portfolio p {
    color: #7f7f7f;
    font-size: 21px;
    line-height: 40px;
    padding-right: 50px;
}

#about-img {
  border: 2px solid black;
  float: right;
}

/***** removed *****/
#work p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #33334d;
    padding: 0 70px;


}


/***** CONTACT *****/

#contact {
    height: 300px;

}

#contact .full-width {
    padding: 50px 0;
    height: 300px;

}

#contact h3 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 36px;
}

#contact p {
  font-size: 22px;
  font-weight: bolder;
  color: #33334d;
}

#contact a {
  text-decoration: none;
  color: #33334d;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}
#contact ul img {
  padding-right: 40px;
  padding-left: 90px;

}

/***** FOOTER *****/
footer {
    height: 50px;
    border-top: 2px solid #eee;
    margin: 0 auto;
    clear: both;
    text-align: center;
}

footer h3 {
    font-weight: normal;
    color: #33334d;

}
